.body-container {
    flex: 1;
    min-width: 0;
    width: 100%;
    overflow-x: hidden;
}

.body-container .data-table-container {
    margin: 30px;
    max-height: max-content;
    width: calc(100% - 60px);
    border-radius: 15px;
    border: 1px solid #D5D5D5;
    overflow-x: auto;
}

.body-container .data-table-container .table {
    vertical-align: middle;
}

.body-container .data-table-container .table th,
.body-container .data-table-container .table td {
    padding: 50px 30px;
    font-size: 14px;
    color: #202224;
    white-space: nowrap;
}

.body-container .data-table-container .table td {
    font-weight: 500;
}

.body-container .data-table-container .table thead th {
    background-color: #FCFDFD;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
}

.body-container .data-table-container .table p {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.completed {
    background-color: #ccf0eb;
    color: #00B69B;
}

.processing {
    background-color: #e0d4fc;
    color: #6226EF;
}

.rejected {
    background-color: #fcd7d4;
    color: #EF3826;
}

@media (max-width: 900px) {
    .body-container .data-table-container .table th,
    .body-container .data-table-container .table td {
        padding: 20px 15px;
    }
}