@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.mainBody-container {
    flex: 1;
    min-width: 0;
    padding: 60px 30px 30px 30px;
    max-width: 100vw;
    height: 100% !important;
}
 
.mainBody-container .title-container {
    margin-bottom: 30px;
    font-family: "Inter";
}
 
.mainBody-container .title-container p {
    color: #4E5059;
    font-size: 20px;
    margin-bottom: 10px;
}
 
.mainBody-container .title-container h1 {
    font-size: 40px;
    color: #000;
}
 
.mainBody-container .insight-cards-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    min-height: 28vh;
    margin: 0 !important;
}
 
.mainBody-container .insight-cards-container .card .card-title-container {
    display: flex;
    align-items: top;
    justify-content: space-between;
}
 
.mainBody-container .insight-cards-container .card .card-title-container h5 {
    color: #979797;
    font-size: 15px;
    font-weight: 600;
    max-width: 60%;
    font-family: "Roboto", "Inter", Arial, sans-serif;
}
 
.mainBody-container .insight-cards-container .card .card-title-container svg {
    width: 40px;
    height: 40px;
    color: #176B87;
}
 
.mainBody-container .insight-cards-container .card .card-value {
    font-size: 28px;
    font-weight: bold;
    color: #202224;
}
 
.mainBody-container .insight-cards-container .card .card-value span {
    color: #00B69B;
    font-size: 12px;
}
 
.mainBody-container .insight-cards-container .card .card-stats {
    display: flex;
    color: #606060;
    font-size: 13px;
}
 
.mainBody-container .insight-cards-container .card .card-stats span {
    color: #00B69B;
    margin-right: 3px;
}
 
.mainBody-container .insight-cards-container .card .card-stats span svg {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}
 
.mainBody-container .line-chart-container {
    margin: 40px 0;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 15px;
    border: 1px solid #dee2e6;
}
 
.mainBody-container .line-chart-container h4 {
    font-size: 16px;
    font-weight: bold;
    color: #202224;
}
 
.mainBody-container .line-chart-container p {
    color: #afbaca;
    font-size: 14px;
    margin: 20px 0 40px 0;
}
 
.mainBody-container .line-chart-container p span {
    color: #53bf80;
}
 
.mainBody-container .most-requested-cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: max-content 1fr;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 50px;
    border: 1px solid #dee2e6;
    font-family: "Roboto";
    min-width: max-content;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card .card-title {
    color: #000;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card .canvas-container {
    display: flex;
    align-items: center;
    gap: 50px;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card .canvas-container canvas {
    max-width: 190px;
    width: 100% !important;
    height: auto !important;
    flex-shrink: 0;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card .canvas-container .summary div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 0;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card .canvas-container .summary div h5 {
    font-size: 14px !important;
    color: #000;
    margin-bottom: 0;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card .canvas-container .summary div p {
    color: #5D5D5D;
    font-weight: 500;
}
 
.mainBody-container .most-requested-cards-container .most-requested-card .canvas-container .summary div p span {
    vertical-align: middle;
}
 
@media (max-width: 900px) {
    .most-requested-cards-container {
        grid-template-columns: 1fr !important;
    }
 
    .most-requested-cards-container .most-requested-card {
        min-width: fit-content;
        max-width: max-content;
    }
}
 
@media (max-width: 630px) {
    .mainBody-container {
        max-width: 100%;
    }
 
    .mainBody-container .most-requested-cards-container .most-requested-card {
        width: 100%;
        min-width: fit-content;
        max-width: fit-content;
    }
 
    .mainBody-container .most-requested-cards-container .most-requested-card .canvas-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        width: 100%;
        column-gap: 30px;
    }
 
    .mainBody-container .most-requested-cards-container .most-requested-card .canvas-container canvas {
        height: 200px !important;
        width: 200px !important;
        max-width: none;
    }
}