@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainBody-container{
    padding: 60px 30px 30px 30px;
    max-width: 100vw;
    height: 100% !important;
    .title-container{
        margin-bottom: 30px;
        font-family: "Inter";
        p{
            color: #4E5059;
            font-size: 20px;
            margin-bottom: 10px;
        }
        h1{
            font-size: 40px;
            color: #000;
        }
    }
    .insight-cards-container{
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
            padding: 15px;
            border-radius: 15px;
            min-height: 28vh;
            margin: 0 !important;
            .card-title-container{
                display: flex;
                align-items: top;
                justify-content: space-between;
                h5{
                    color: #979797;
                    font-size: 15px;
                    font-weight: 600;
                    max-width: 60%;
                    font-family: "Roboto", "Inter", Arial, sans-serif;
                }
                svg{
                    width: 40px;
                    height: 40px;
                    color: #176B87;
                }
            }
            .card-value{
                font-size: 28px;
                font-weight: bold;
                color: #202224;
                span{
                    color: #00B69B;
                    font-size: 12px;
                }
            }
            .card-stats{
                display: flex;
                color: #606060;
                font-size: 13px;
                span{
                    color: #00B69B;
                    margin-right: 3px;
                    svg{
                        width: 15px;
                        height: 15px;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
    .line-chart-container{
        margin: 40px 0;
        background-color: #fff;
        padding: 40px 20px;
        border-radius: 15px;
        border: 1px solid #dee2e6;
        h4{
            font-size: 16px;
            font-weight: bold;
            color: #202224;
        }
        p{
            color: #afbaca;
            font-size: 14px;
            margin: 20px 0 40px 0;
            span{
                color: #53bf80;
            }
        }
    }
    .most-requested-cards-container{
        display: grid;
        gap: 20px;
        grid-template-columns: max-content 1fr;
        .most-requested-card{
            background-color: #fff;
            padding: 30px;
            border-radius: 50px;
            border: 1px solid #dee2e6;
            font-family: "Roboto";
            min-width: max-content;
            .card-title{
                color: #000;
                font-size: 20px;
                margin-bottom: 30px;
                font-weight: 500;
            }
            .canvas-container{
                display: flex;
                align-items: center;
                gap: 50px;
                canvas{
                    max-width: 190px;
                    width: 100% !important;
                    height: auto !important;
                    flex-shrink: 0;
                }
                .summary div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 1;
                    min-width: 0;
                    h5{
                        font-size: 14px !important;
                        color: #000;
                        margin-bottom: 0;
                    }
                    p{
                        color: #5D5D5D;
                        font-weight: 500;
                        span{
                            vertical-align: middle;
                        }
                    }
                }
                
            }
        }
    }
}

@media(max-width: 900px){
    .most-requested-cards-container{
        grid-template-columns: 1fr !important;
        .most-requested-card{
            min-width: fit-content;
            max-width: max-content;
        }
    }
}
@media(max-width: 630px){
    .mainBody-container{
        max-width: 100%;
        .most-requested-cards-container{
            .most-requested-card{
                width: 100%;
                min-width: fit-content;
                max-width: fit-content;
                .canvas-container{
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 0;
                    width: 100%;
                    column-gap: 30px;
                    canvas{
                        height: 200px !important;
                        width: 200px !important;
                        max-width: none;
                    }
                }
            }
        }
    }
    
}


